.App {
  text-align: center;
}

.user-header{
  text-align: left;
}

.question-box{
  display:flex;
  justify-content: space-between;
}

.question-options{
  text-align: left;
}

.question-container{
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}



