.App {
  text-align: center;
}

.user-header {
  text-align: left;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: crimson;
  width: 92%;
  padding: 2em 3em;
  color: #fff;
}

.home-tab {
  color: white;
  text-decoration: none;
  position: absolute;
  border-bottom: none;
}

.add-question-tab {
  color: white;
  text-decoration: none;
  position: absolute;
  border-bottom: none;
}

.leaderboard-tab {
  color: white;
  text-decoration: none;
  position: absolute;
  border-bottom: none;
}

.logout-tab {
  color: white;
  text-decoration: none;
  position: absolute;
  border-bottom: none;
}

/* Login Page */

.login-title {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
  border-style: solid;
  border-color: crimson;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 100px;
  border-radius: 6px;
}

.login-form-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-dropdown {
  width: 100px;
  border-radius: 4px;
  border-style: solid;
  border-color: crimson;
}

.login-submit {
  background-color: crimson;
  border-style: solid;
  border-radius: 4px;
  opacity: 0.75;
  border-color: crimson;
  color: white;
}

.login-image {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Home Screen Page */

.answered {
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  border-radius: 6px;
  margin-left: 100px;
  border-color: crimson;
  background-color: crimson;
  padding-left: 20px;
  color: white;
}

.unanswered {
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  border-radius: 6px;
  border-color: crimson;
  background-color: crimson;
  padding-right: 50px;
  color: white;
}

.question-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 100px;
  border-style: solid;
  border-color: crimson;
  border-radius: 6px;
}

.questions-tab {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.question-box {
  display: flex;
  justify-content: space-between;
}

.question-options {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.p-header {
  font-weight: bold;
}

.options {
  margin: 5px;
}

.options-container {
  margin-left: 20px;
}

.question-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: inherit;
  text-decoration: inherit;
}

.user-image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit {
  background-color: crimson;
  border-style: solid;
  border-radius: 4px;
  opacity: 0.75;
  border-color: crimson;
  color: white;
  margin: 10px;
  width: 70px;
}

/* Leaderboard */

.leader-list {
  display: flex;
  justify-content: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  padding-bottom: 100px;
  border-style: solid;
  border-color: crimson;
  border-radius: 6px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.score-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.stats-box {
  display: flex;
  justify-content: space-between;
}

.score-options {
  text-align: left;
}

/* Create New Question */

.create-submit {
  background-color: crimson;
  border-style: solid;
  border-radius: 4px;
  opacity: 0.75;
  border-color: crimson;
  color: white;
}

.create {
  color: crimson;
}

.would {
  color: crimson;
}