.App {
  text-align: center;
}

.user-header {
  text-align: left;
}

.question-box {
  display: flex;
  justify-content: space-between;
}

.question-options {
  text-align: left;
}

.question-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.score-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.score-box {
  display: flex;
  justify-content: space-between;
}

.score-options {
  text-align: left;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* Login Page */

.login-title {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
  border-style: solid;
  height: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.login-form-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Home Screen Page */

.questions-tab {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.answered {
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
}

.unanswered {
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
}

.question-list {
  display: flex;
  justify-content: center;
}

/* Leaderboard */

.leader-list {
  display: flex;
  justify-content: center;
}